.product {
    display: flex;
    flex-direction: column;
    /*border: 1px solid var(--tg-theme-button-color);*/
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background: var(--tg-theme-bg-color);
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 0.8em;
    color: var(--tg-theme-hint-color);
}

.add-btn, .decrement-btn, .increment-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--main-color);
}

/*.add-btn:hover, .decrement-btn:hover, .increment-btn:hover {*/
/*    background-color: var(--tg-theme-button-color-hover);*/
/*}*/

.add-icon {
    margin-left: 5px;
    font-size: 1.2em;
}

.price-text {
    margin-right: auto;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.decrement-btn, .increment-btn {
    /*width: 40px;*/
    /*height: 40px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    /*border-radius: 50%;*/
}

.decrement-btn {
    background-color: #e64d44;
    transition: transform var(--animation), visibility var(--animation);
}

.increment-btn {
    background-color: var(--main-color);
    transition: background-color var(--animation);
    top: 0;
    right: 0;
}

.item-count {
    padding: 10px 10px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
}

.title {
    color: var(--tg-theme-text-color);
    font-weight: bold;
    margin-top: 10px;
}

.price {
    color: var(--tg-theme-text-color);
    margin-top: 5px;
}
