.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
    position: relative; /* Added to ensure absolute positioning works */
}

.img {
    width: 100%;
    background: var(--tg-theme-bg-color);
    height: 100px;
    margin: 0 auto;
}

.description {
    font-size: 0.8em;
    color: var(--tg-theme-hint-color);
    flex-grow: 1;
}

.add-btn, .decrement-btn, .increment-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: var(--tg-theme-text-color);
    background-color: var(--main-color);
}

.add-icon {
    margin-left: 5px;
    font-size: 1.2em;
}

.price-text {
    margin-right: auto;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

}

.decrement-btn, .increment-btn {
    /*width: 40px;*/
    /*height: 40px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    /*border-radius: 50%;*/
}

.decrement-btn {
    background-color: #e64d44;
    transition: transform var(--animation), visibility var(--animation);
}

.increment-btn {
    background-color: var(--main-color);
    transition: background-color var(--animation);
    top: 0;
    right: 0;
}

.item-count {
    padding: 10px 10px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
}

.title {
    color: var(--tg-theme-text-color);
    font-weight: bold;
    margin-top: 10px;
    /*min-height: 100px; !* Ensuring a minimum height *!*/
    display: flex;
    /*align-items: center; !* Center alignment *!*/
    /*justify-content: center; !* Center alignment *!*/
    /*text-align: center; !* Center text *!*/
}


.price {
    color: var(--tg-theme-text-color);
    margin-top: 5px;
}

.cafe-item-counter {
    position: absolute;

    min-width: 22px;
    top: 0;
    right: 0;
    margin: 4px 6px;
    border-radius: 11px;
    animation: var(--animation) both;
    pointer-events: none;
    text-align: center;

    z-index: 3;

}

